
<div class="container-accomodations">
  <div class="text-center">
    <h1>Déposer une annonce</h1>
  </div>
</div>
<%= render 'form', accomodation: @accomodation, :url => { :action => "create" } %>

