<section class="first">
    <div class="container">
    </div>
</section>
<div class="container bannerHomepage">
  <h1>Bienvenue sur The Perfect House.</h1><br>
  <h4>L'assistant intelligent pour dénicher vos biens immobiliers de vente et de location en France.</h4><br>
  <%= render 'form' %>
</div>
