<div class="container-accomodations">
  <div class="text-center">
    <h2><% content_for :title, "Contact" %></h2>
  </div>
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form validate-form">

<!------ Include the above in your HEAD tag ---------->
<br>
<div class="container contact-form">
          <div class="text-center">
            <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/favicon.ico" alt="">
            <br><br>
            <h3>Laissez nous un message</h3><br>
          </div>
            <form method="get">
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Votre Nom *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Votre Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Votre Numéro de Téléphone *" value="" />
                        </div>
                    </div><br>
                </div><br>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                    </div><br>
                </div>
                <div class="text-center">
                    <input type="submit" name="btnSubmit" class="btnStandard" value="Envoyer" />
                </div><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
