<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Salut <%= @name %>  nous a contacté</h1>
  <p>
    Tu as nous a contacté en utilisant l'e-mail suivant : <%= @email %>.
  </p>
  <p>
    <%= @message %>
    <%= @phone %>.
  </p>

</body>
</html>
