<% content_for :title, "Team" %>

<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">
  <br><br>
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Qui sommes nous? Découvrez notre histoire, notre équipe</h2>
  <!-- Section description -->


<div class="container">
  <div class="card-deck">

         <p class="grey-text w-responsive mx-auto mb-5"><div align="justify">L’histoire de ThePerfectHouse (TPH) débute en 2019, avec une vision simple : imposer la transparence du marché immobilier grâce à la digitalisation. Fort de ces 8 années d'expérience en tant que trader/gérant d'actifs en banques puis manager en intelligence artificielle et finance au sein de cabinets de conseil américains , Yannick Yamdjeu décide de fonder TPH. Dans cette aventure il embarque une équipe d'analystes financiers et de passionnés aguerris aux dernières technologies de développement web, web design, de machine learning, et de blockchain.
          <br><br>

         Nous proposons aux professionnels de l'immobilier, aux particuliers une technologie
         qui leur permet diffuser leurs annonces immobilières pour leurs biens en vente ou en location et de trouver le logement qui correspond à leurs envies.
          <br><br>

         L'ambition de la plate-forme est de s'appuyer sur les dernières technologies innovantes basées sur l'intelligence artificielle pour trouver de manière efficace le logement idéal et la blockchain pour assurer la confidentialité des données et les sécuriser.</div></p>
  </div>


  <br>




<div class="container">
  <div class="card-deck d-flex justify-content-center">
 	<div class="card3">
		 <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/Yannick.jpeg"alt="Sample avatar">
       <div class="card-body">
       <h5 class="font-weight-bold mt-4 mb-3">Yannick Yamdjeu</h5>
       <p class="text-uppercase blue-text"><strong> Fondateur, Data Scientist & Financier</strong></p>
      </div> 
        <a href="https://www.linkedin.com/in/yannickyamdjeu/"><i class="fab fa-linkedin-in" style="color:black"></i></a>   
      </div>

   	<div class="card3">
		 <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/Romain.jpeg"alt="Sample avatar">
       <div class="card-body">
       <h5 class="font-weight-bold mt-4 mb-3">Romain Poddevin</h5>
       <p class="text-uppercase blue-text"><strong> Entrepreneur Web developpeur</strong></p>
      </div>
           <a href="https://www.linkedin.com/in/romain-poddevin-507014117/"><i class="fab fa-linkedin-in" style="color:black"></i></a>
    </div>
 		<div class="card3">
		 <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/Nathan%2C_opt.jpg"alt="Sample avatar">
       <div class="card-body">
       <h5 class="font-weight-bold mt-4 mb-3">Nathan Teboul</h5>
       <p class="text-uppercase blue-text"><strong>Web developpeur</strong></p>

      </div>
    </div>
  </div>
<br><br>
  <div class="card-deck d-flex justify-content-center">
	<div class="card3">
		 <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/James.jpeg"alt="Sample avatar">
       <div class="card-body">
       <h5 class="font-weight-bold mt-4 mb-3">James ELangue</h5>
       <p class="text-uppercase blue-text"><strong> Entrepreneur, Web developpeur</strong></p>
      </div>
          <a href="https://www.linkedin.com/in/james-elangue-libam-79309570/"><i class="fab fa-linkedin-in" style="color:black"></i></a>
    </div>
	<div class="card3">
	 <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/Bruno.jpeg"alt="Sample avatar">
	    <div class="card-body">
	    <h5 class="font-weight-bold mt-4 mb-3">Bruno Vongxay</h5>
       <p class="text-uppercase blue-text"><strong>Entrepreneur, Web designer</strong></p>
      </div>
          <a href="https://www.linkedin.com/in/brunovongxay/"><i class="fab fa-linkedin-in" style="color:black"></i></a>
     </div>

	<div class="card3">
		 <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/Tjomb_opt.jpg"alt="Sample avatar">
       <div class="card-body">
       <h5 class="font-weight-bold mt-4 mb-3">Tjomb Bell</h5>
       <p class="text-uppercase blue-text"><strong>Fondateur, Analyste financier</strong></p>
      </div>
          <a href="https://www.linkedin.com/in/tjomb-bell-19a9b223/"><i class="fab fa-linkedin-in" style="color:black"></i></a>
    </div>
    </div>

    </section>
<!-- Section: Team v.1 -->
