<% content_for :title, "Service" %>

<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">
  <br><br>
  <!-- Section heading -->
  <h3 class="h1-responsive font-weight-bold my-5">Nous proposons deux offres de services innovants basés sur l'intelligence artificielle et la blockchain</h3>
  <!-- Section description -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154883352-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154883352-1');
</script>


<div class="container">
        <div class="card-deck d-flex justify-content-center">
          <div class="card3">
		       <p class="grey-text w-responsive mx-auto mb-5"><div align="justify"><strong>I/Offre Intelligence artificielle:</strong> grâce aux algorithmes de machine learning que nous avons développés, nous proposons les services suivants:
		      	 </br>
		      	 <div align="justify">
				  <ul>
			            <li>Évaluation du prix des biens</li>
			            <li>Évaluation de la rentabilité des loyers</li>
			            <li> Évaluation de l'emplacement des biens</li>
			        </ul> 
			     </div>
			 </div></p>
          </div>

          <div class="card3">
		      <p class="grey-text w-responsive mx-auto mb-5"><div align="justify"><strong>II/Offre Blockchain:</strong> grâce aux algorithmes de cette technologie décentralisée que nous avons développés, nous proposons les services suivants:
		      	 </br>
		      	 <div align="justify">
				  <ul>
			            <li>Sécurisation et confidentialité des données</li>
			            <li>Vente au détail des biens immobiliers</li>
			            <li>Levée de fonds par ICO</li>
			            <li>Validation et archivage de contrats</li>
			        </ul> 
			     </div>
			 </div></p>
          </div>
        
        </div>


