// Place all the styles related to the Accomodations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-accomodations {
  margin-top: 20vh;
}

.container-carousel {
  width: 75%;
  height: 40%;
  margin: auto;
}

.carousel-inner img {
  height: 512px;
}

@media (max-width: 480px) {
 .carousel-inner img {
   height: 320px;
 }
}

