.social {
 cursor: crosshair;
 display: flex;
 flex-direction: row;
}

.footer-back {
 text-align:center;
 position: relative;
 bottom:10px;
 width:100%;
 display:block;
 justify-content: center;
 margin-top: 100px;
}

a .fab {
 cursor: crosshair;
 color: #fff;
 text-decoration: none !important;
}

a .fab:hover {
 cursor: crosshair;
 color: #5AF;
 text-decoration: none !important;
}

.form-social {
 cursor: crosshair;
 font-size: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #000000;
 margin: 5px;
 text-decoration: none !important;
}

footer .row {
 justify-content: center;
 display: flex;
 flex-direction: row;
 margin: auto;
}
