.container-login100 {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 5%;

}

.container-login100::before {
 content: "";
 display: block;
 position: absolute;
 z-index: -1;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 pointer-events: none;
}

.login100-form {
 width: 90%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.login100-form-title {
 display: block;
 font-family: 'Quicksand', sans-serif;
 font-size: 30px;
 color: #fff;
 line-height: 1.2;
 text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ Social item ]*/

.login100-social-item {

 font-size: 25px;

 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 color: #EBB;
 background-color: #5AF;
 text-decoration: none !important;
 margin: 5px;
 box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
 -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
 -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
 -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.login100-social-item img {
 width: 26px;
}

.login100-social-item:hover {
 box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
 -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
 -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
 -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
}

a .fab {

 color: #fff;
 text-decoration: none !important;
}

a .fab:hover {

 color: #EBB;
 text-decoration: none !important;
}

.btnSocialLog {
 justify-content: center;
 display: flex;
 flex-direction: row;
 margin: auto;
 align-items: center;
}

.animatedButton {
 display: inline-block;
 border-radius: 40px;
 background-color: #5AF;
 border: none;
 color: #fff;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
 font-size: 1.2em;
 padding: 20px;
 width: 30vh;
 transition: all 0.5s;

 margin: 5px;
}

.animatedButton span {
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

.animatedButton span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
 text-decoration: none !important;
}

.animatedButton:hover span {
 padding-right: 25px;
 text-decoration: none !important;
 box-shadow: 0 10px 30px 0px rgba(85,170,255, 0.8);
}

.animatedButton:hover span:after {
 opacity: 1;
 right: 0;
 text-decoration: none !important;
 box-shadow: 0 10px 30px 0px rgba(85,170,255, 0.8);
}

.animatedButton:hover {
 padding-right: 25px;
 text-decoration: none !important;
 box-shadow: 0 10px 30px 0px rgba(85,170,255, 0.8);
}

.animatedButton:hover:after {
 opacity: 1;
 right: 0;
 text-decoration: none !important;
 box-shadow: 0 10px 30px 0px rgba(85,170,255, 0.8);
}
