html,body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height:100%;
  }

a {
  text-decoration: none !important;
  color: #000000;
}

a:hover {
  text-decoration: none !important;
  color: #000000;
}

#nav a:hover {
  color: #EBB;
}

.btnDelete {
	background-color:#fc8d83;
	border-radius:25px;
	display:inline-block;
	color:#fff;
	font-size:16px;
	padding:6px 10px;
	text-decoration:none;
  border: none;
}
.btnDelete:hover {
	background-color:#ef4339;
  text-decoration: none;
  color: #000000;
}

.btnStandard {
	background-color:#5AF;
	border-radius:25px;
	display:inline-block;
	color:#fff;
	font-size:16px;
	padding:6px 12px;
	text-decoration:none;
  border: none;
}
.btnStandard:hover {
	background-color:#2f89fc;
  text-decoration: none;
  color: #000000;
}

.notice {
  text-align: center;
  color: #01d28e;
  margin-top: 20px;
}

.alert {
  text-align: center;
  color: #ef4339;
}
