@media (min-width:768px) {
    .affix-top {
      /* navbar style at top */
      background-color:transparent;
      border-color:transparent;
      padding: 15px;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;
    }
}

nav .navbar-nav .nav-link,
nav .navbar-brand {
   color: #000;
}

.dropdown-menu {
  align-items: right !important;
}

.brand {
  font-size: 24px;
  font-family: 'Fredoka One', cursive;
  color: #000000;
  margin: 0;
}

.affix {
  background-color: #fff;
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;
}

.topBtn {

 position: fixed; /* Fixed/sticky position */
 bottom: 50px; /* Place the button at the bottom of the page */
 right: 40px; /* Place the button 30px from the right */
 z-index: 3; /* Make sure it does not overlap */
 border: none; /* Remove borders */
 outline: none;
 width: 10px;
 height: 10px; /* Remove outline */
 background-color: #5AF; /* Set a background color */
 color: black ; /* Text color */
 padding: 20px; /* Some padding */
 border-radius: 50px; /* Rounded corners */
 transition: 0.5s;
 box-shadow: 0 10px 20px 0px rgba(85,170,255, 1);
}

.topBtn:hover {
  background-color: #EBB;
}
