// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.backgroundprofile{
  background-image: linear-gradient(to left bottom, #eebbbb, #edadc5, #dba5db, #aea5f2, #55aaff);
}

.jumbotron {
  width: 100%;
  height: 35vh;
  margin-top: -110px;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 480px) {
 .profilePic {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
 }
}
/*/////////////////////////////*/

.profilePic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -128px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 480px) {
 .profileWrap {
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 45px;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   min-width: 75%;
 }
}
/*/////////////////////////////*/

.profileWrap {
   width: 45%;
   background: #f4f3f3;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   padding: 25px;


   box-shadow: 0 3px 20px 0px rgba(151,151,151, 1);
   -moz-box-shadow: 0 3px 20px 0px rgba(151,151,151, 1);
   -webkit-box-shadow: 0 3px 20px 0px rgba(151,151,151, 1);
   -o-box-shadow: 0 3px 20px 0px rgba(151,151,151, 1);
   -ms-box-shadow: 0 3px 20px 0px rgba(151,151,151, 1);
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 480px) {
 .editBtn {
   margin-left: auto;
 }
}
/*/////////////////////////////*/

.editBtn {
   position: absolute;
   bottom: 16vh; /* Place the button at the bottom of the page */
   right: 55vh; /* Place the button 30px from the right */
   z-index: 3; /* Make sure it does not overlap */
   border: none; /* Remove borders */
   outline: none;
   width: 10px;
   height: 10px; /* Remove outline */
   background-color: #fff; /* Set a background color */
   color: black ; /* Text color */
   padding: 20px; /* Some padding */
   border-radius: 50px; /* Rounded corners */
   transition: 0.5s;
   box-shadow: 0 10px 20px 0px rgba(151,151,151, 0.5);
}

.editBtn:hover {
  background-color: #EBB; /* Add a dark-grey background on hover */
}
