<footer>
  <div class="footer-back">
    <div class="social">
      <div class="row">
        <%= link_to "https://www.facebook.com/Theperfechouse/", class:'form-social', target:'_blank' do %>
        <i class="fab fa-facebook-f"></i>
        <% end %>
        <%= link_to "https://www.instagram.com", class:'form-social', target:'_blank' do %>
        <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com", class:'form-social', target:'_blank' do %>
        <i class="fab fa-linkedin"></i>
        <% end %>
        <%= link_to "https://twitter.com", class:'form-social', target:'_blank' do %>
        <i class="fab fa-twitter"></i>
        <% end %>
        <br>
      </div>
      <br>
    </div>
    <br>
    <small class="text">Copyright © 2019 The Perfect House. All rights reserved.</small>
  </div>
</footer>

